<html>
 <head>
     <title>example ejs</title>
 </head>

 <body>
     <form name="frm" method="GET" action="memInsert">
     <p><input type="text" name="fname" /></p>
     <input type="submit" value="commit" />
     </form>
 </body>
</html>