html
    head
        title jade example
    body
        form(name="frm",method="GET",action="memInsert")
            p
                input(type="text", name="fname")
            input(type="submit", value="commit")